<footer>
  <div class="container text-center">
    <p class="pull-left">© 2018 Company, Inc. All Rights Reserved</p><a href="https://github.com/microsoft/typescript-node-starter" data-icon="octicon-star" data-show-count="true" aria-label="Star microsoft/typescript-node-starter on GitHub" class="github-button pull-right">Star</a>
  </div>
</footer>