<h1>My Classrooms</h1>
<br />
{{#each myRooms}}
    <a href="/rooms/{{id}}">{{name}}</a>
{{else}}
    You don't have access to any classrooms yet. <a href="/rooms/create">Create one</a> to get started!
{{/each}}
